@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&display=swap');
body{
    background-color: #282A36;
    font-family: 'Indie Flower', 'Arial';
    color: #ffff;
}
h1{
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -2px;
    position: center;
}
td,th{

    font-family: 'Open Sans';
}

th{
    background-color: #44475A;/*cor de fundo*/
    color: #ffff;/* cor da fonte*/
}
td{
    color: #ffff;
    padding-top:8px;
    padding-bottom:8px;
    padding-right:4px;
    padding-left:4px;
}
table{
    width: 50%;
    border-collapse: collapse;
}
tr:hover{
    background-color: #f1fa8c;
    color: #282A36;
}
    /*Classes CSS*/
.preco{
    text-align: right;
}
.luxo{
    color: yellow;
}
.logo{
    width: 200px;
    padding: 16px;
}
    
